.App {
  height: 500px;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
}

.header {
  background-color: #D3D3D3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: #fff;
  border-radius: 20px 20px 0px 0px;
}

.header--logo {
  height: 50px;
}